@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cborder {
        @apply border-solid border border-gray-200;
    }
}

table {
    text-align: left;
    position: relative;
  
  }
tr:hover {
    background-color: rgb(255, 255, 189);
    cursor: pointer;
}


table, td {
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

td, th {
	padding: 5px;
    text-align: center;
    padding: 7px;
}

#root > div > div > div > svg > g.recharts-layer.recharts-reference-line > text{
    transform: translateY(-14px);
}